  <%= stylesheet_link_tag "textstyles" %>
  <%= javascript_include_tag 'text_index' %>
<!-- <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->
<!--     <input id="origin-input" class="controls" type="text"
        placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination location"> -->

<div class='wrapper'>

	<div id="map" style="width:600px;height:600px;"></div>

</div>
